body{
    background: url(kerja.jpg);
    background-position: 100px 1px;
    background-size: 400px 200px;
    background-repeat: repeat-x;
    background-attachment: fixed;
}
.title{
    color: white;
    font-style: italic;
}
div > h6{
    font-size: 20px;
    margin: 2px ;
}
.form{
    border: 5px solid gray;
    background-color: antiquewhite;
    margin: 10px;
}
.note{
    background-color: yellow;
    font-style: italic;
}
.email{
    background-color: bisque;
    margin: auto;
}
.work{
    background-color: bisque;
}
